.navbar {
    background:#B0B0B0;
    position:fixed;
    width:100%;
    overflow: hidden;
}
.nav-link,
.navbar-brand {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content:center;
}
.projectwork{
    display:flex;
    text-align:justify;
    color:#245631;
}
.projectwork > div {
    background-color: #ffffff;
    flex-grow: 1;
    flex-basis: 0;
    margin: 20px;
    padding: 18px;
}
