body{
    background-color:#245631;   
    margin:0;
    font-family: Arial, sans-serif;
}
.topcontainer{
  padding:200px 50px 10px 50px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
  height: 650px;
}
.profiletext{
  text-align:center;
  position: relative;
  padding:180px;
  padding-left:70px;
  font-size: 40px;
  color:#ffffff;
  font-family: 'Sacramento', cursive;
}
.profile img {
  border: 5px solid #B0B0B0;
}
h1{
    margin-top:0;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}
.topcloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
.bottomcloud{
  position:absolute;
  left: 300px;
  bottom: 40px;
}


.midcontainer {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    color:#ffffff;
}
h2{
  color:#ff794d ;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
.bottomcontainer {
    text-align: center;
    color:#ffffff;
}

.skillcontainer {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 5px solid #B0B0B0;
    /*align-items: center;*/
    background-color:#ffffff;
   /* justify-content: center;*/
    position: relative;
  }
  .projectwork{
      display: flex;
      background-color:#B0B0B0 ;
      color: #000;;
  }
  .projectwork > div {
    background-color: #ffffff;
    flex-grow: 1;
    flex-basis: 0;
    margin: 5px;
    padding: 20px;
  }
  .projectwork:hover{
      background-color:#ff794d;
  }
  .midcontainer .projectwork {
    text-align:justify;
    margin: 10px;
    padding: 20px;
  }
   .Projectcontainer1 ul{
        margin: 10px;
        padding:0px;
        list-style-type: circle;
  }
   .Projectcontainer2 ul{
    margin: 10px;
    padding:0px;
    list-style-type: circle;
}
   .Projectcontainer3 ul{
    margin: 10px;
    padding:0px;
    list-style-type: circle;
}

  .Experience{
      display:flex;
      text-align:justify;
      background-color: #B0B0B0;
      color:#000;
  }
  .Experience > div {
    background-color: #ffffff;
    flex-grow: 1;
    flex-basis: 0;
    margin: 20px;
    padding: 18px;
  }
  .Experience:hover{
      background-color:#ff794d;
  }
  .skilltext{
     position:relative;
      top:60px;
      text-align: center;
      color: #000;
  }
  .set1{
       display:inline-block;
       }
  .set2{
        display:inline-block;
        }
  .set3{
         margin-top: 10px;
         display:inline-block;
         overflow: hidden;
        }
  .pm{
        top:50px;
     }
     .skilltext :hover{
         background-color: black;
     }
