body{
    text-align: center;
    margin:0;
    font-family: Arial, sans-serif;
}
h1{
    margin-top:0;
    font-family: 'Sacramento', cursive;
}
 .topcontainer{
    background-color:#a3ddcb;
    position: relative;
    padding-top: 100px;
}

.midcontainer {
    background-color:#a3ddcb
}
.bottomcontainer {
    background-color:#a3ddcb

}
.topcloud{
    position:absolute;
    right: 300px;
    top: 50px;
}
.bottomcloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.skillcontainer {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    /*align-items: center;*/
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px black solid;

    background-color:#03506f;
   /* justify-content: center;*/
    position: relative;

  }
  
  .midcontainer .projectwork {
    text-align: left;
  }
  .skilltext{
     position:relative;
      top:60px;
      text-align: center;
      
  }
  .set1{
       display:inline-block;
       }
  .set2{
        display:inline-block;
        }
  .set3{
         margin-top: 10px;
         display:inline-block;
         overflow: hidden;
        }
  .pm{
        top:50px;
     }